body{
    display:flex;
    background-image: url(images/background.png);
    background-size: cover;
    background-color:rgba(235, 85, 26, 0.5);
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed;
    flex-direction: column;
}